$orange-light: rgb(243, 187, 103);
$orange: rgb(222, 80, 32);

$red-bright: rgb(187, 0, 27);
$red-dark: rgb(114, 19, 29);

$purple: rgb(76, 30, 48);

$blue-light: rgb(227, 239, 228);
$blue-dark: rgb(71, 58, 111);
$blue-darker: rgb(37, 47, 63);

$green: rgb(157, 176, 107);

$black: rgb(0, 0, 0);
$brown: rgb(58, 43, 31);
